title: T-Graph
description: 人材紹介・衛星データ活用コンサルティング・ビジネスアプリ開発
url: "https://teddyten.github.io"
baseurl: "/HP_tgraph"

author:
  name: T-Graph

permalink: /blog/:year/:month/:day/:title/

plugins:
  - jekyll-feed
  - jekyll-seo-tag

markdown: kramdown
highlighter: rouge

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
